.annotations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
  width: 95%;
  margin: 0 auto;
}

.loading-container,
.error-container,
.no-questions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navigation-buttons {
  margin-top: 20px;
}
