.annotation-card {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 18px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.tasks-card .ant-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  display: flex;
  height: 100%;
  min-height: 0;
  justify-content: space-between;
}

.column-content {
  width: 100%;
  height: 100%;
  min-height: 0;
  padding: 10px;
  flex-grow: 1; /* Ensures it takes full width */
  flex-basis: 0; /* Prevents sudden width changes */
  min-width: 0; /* Helps with text overflow issues */
}

.question-row {
  align-items: center;
  width: 100%;
  height: 30vh;
}

.tasks-card {
  height: 40vh;
  margin-top: 10px;
  overflow: scroll;
}

.like-btn {
  border-color: #d9d9d9;
  color: #595959;
}

.dislike-btn {
  border-color: #d9d9d9;
  color: #595959;
}

.selected {
  border-color: #1890ff !important;
  color: #1890ff !important;
}

.selected.dislike-btn {
  border-color: #ff4d4f !important;
  color: #ff4d4f !important;
}

.divider {
  margin: 10px 0;
}

.divider-column {
  display: flex;
  align-items: stretch;
  border-right: 1px solid #f0f0f0;
}

.tasks-section {
  text-align: left;
  padding: 0 20px;
}

.task-item {
  margin-bottom: 15px;
}

.task-text {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.task-text.invalid {
  color: #bfbfbf;
  font-weight: 300;
}

.db-info-column {
  padding: 10px;
  text-align: center;
}

.progress-grid {
  padding: 10px;
  text-align: center;
  max-height: 250px; /* Restrict height */
  overflow-y: auto; /* Enable scrolling */
}

.progress-grid h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.feedback-box {
  margin-top: 10px;
}
