.annotation-card {
  width: 95%;
  min-height: 300;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.main-content {
  display: flex;
  min-height: 100%;
  justify-content: space-between;
}

.content-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  flex-grow: 1; /* Ensures it takes full width */
  flex-basis: 0; /* Prevents sudden width changes */
  min-width: 0; /* Helps with text overflow issues */
}

.question-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  min-height: 90px;
}

.question-text {
  word-wrap: break-word;
  width: 100%;
}

.task-text {
  white-space: normal;
}

.like-dislike-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.like-btn {
  border-color: #d9d9d9;
  color: #595959;
}

.dislike-btn {
  border-color: #d9d9d9;
  color: #595959;
}

.selected {
  border-color: #1890ff !important;
  color: #1890ff !important;
}

.selected.dislike-btn {
  border-color: #ff4d4f !important;
  color: #ff4d4f !important;
}

.divider {
  margin: 10px 0;
}

.divider-column {
  display: flex;
  align-items: stretch;
  border-right: 1px solid #f0f0f0;
}

.tasks-section {
  text-align: left;
  padding: 0 20px;
}

.task-item {
  margin-bottom: 15px;
}

.task-text {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.task-text.invalid {
  color: #bfbfbf;
  font-weight: 300;
}

.db-info-column {
  padding: 10px;
  text-align: center;
}

.progress-grid {
  padding: 10px;
  text-align: center;
  max-height: 250px; /* Restrict height */
  overflow-y: auto; /* Enable scrolling */
}

.progress-grid h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
