.feedback-container {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* .feedback-textarea {
  width: 100%;
}

.feedback-textarea {
  width: 100%;
  height: 100%;
}

.feedback-container .ant-form-item {
  margin-bottom: 0;
  width: 100%;
} */
