.question-text {
  word-wrap: break-word;
  width: 100%;
  text-align: justify;
}
.question-card {
  height: 100%;
  width: 100%;
}

.like-dislike-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.like-btn {
  border-color: #d9d9d9;
  color: #595959;
}

.dislike-btn {
  border-color: #d9d9d9;
  color: #595959;
}

.selected {
  /* border-color: #1890ff !important; */
  color: #1890ff !important;
}

.selected.dislike-btn {
  /* border-color: #ff4d4f !important; */
  color: #ff4d4f !important;
}

/* Default styling */
.valid-btn {
  background-color: transparent;
  /* border: 1px solid #52c41a; */
  color: #52c41a;
}

.invalid-btn {
  background-color: transparent;
  /* border: 1px solid #ff4d4f; */
  color: #ff4d4f;
}

/* Selected Like (✔) button - Turns green */
.valid-btn.selected {
  background-color: #52c41a !important;
  color: white !important;
  /* border-color: #52c41a !important; */
}

/* Selected Dislike (✖) button - Turns red */
.invalid-btn.selected {
  background-color: #ff4d4f !important;
  color: white !important;
  /* border-color: #ff4d4f !important; */
}
